body {
    background-image: url("bg.jpg");
    font-size: 18px;
    color: #222;
    font-family: Arial;
    box-sizing: border-box;
}

.login-box {
    display: flex;
    flex: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: wrap;
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 600px;
    height: 450px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 2px 5px 10px 2px #282828;
}

.left {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    padding: 40px;
    flex-basis: 50%;
    height: 100%;
}

.left h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"], input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 5px;
    width: 200px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-weight: 400;
    font-size: 16px;
}

input[type="text"]:hover, input[type="password"]:hover {
    border-bottom: 3px solid #848484;
}

input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #6296af;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #282828;
}

.or {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #a1a1a1;
    border-radius: 50%;
    box-shadow: 0 2px 4px #000000;
    line-height: 40px;
    text-align: center;
}

.right {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    flex-basis: 50%;
    height: 100%;
}

.right h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
}

button.social-signin {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
    width: 200px;
    height: 36px;
    border: outset;
    border-radius: 2px;
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
}

button.social-signin:hover {
    box-shadow: 0 2px 4px #000000;
}

button.social-signin.facebook {
    background: #32508E;
}

button.social-signin.facebook:hover {
    background: #2c3163;
}

button.social-signin.twitter {
    background: #55ACEE;
}

button.social-signin.twitter:hover {
    background: #4f83bf;
}

button.social-signin.google {
    background: #DD4B39;
}

button.social-signin.google:hover {
    background: #b24634;
}