* {
    text-align: center;
    font-family: Arial;
}

#pgbar {
    width: 80%;
    background-color: #ebebeb;
    margin: 150px;
    margin-top: 100px;
    margin-bottom: 0px;
}

#progress {
    width: 1%;
    height: 40px;
    background-color: #CDDDFF;
    line-height: 40px;
}

button {
    background-color: #d93131;
    color: white;
    width: 60px;
    height: 40px;
    font-size: 16px;
}

button:hover {
    background-color: #b61801;
}
