body {
    background-color: #124559;
    font-family: "Times New Roman";
    color: white;
    display: grid;
}

.grid-container {
    display: grid;
    grid-template-columns:  auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-column-gap: 5px;
}

.big1 {
    padding-top: 50px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.top {
    padding-left: 100px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.bottom {
    padding-left: 100px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.middle {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
}

.small1 {
    padding-top: 5px;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
}

.small2 {
    padding-left: 170px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
}

.big2 {
    padding-left: 100px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
}

.right {
    padding-top: 20px;
    grid-column-start: 35;
    grid-row-start: 1;
    grid-row-end: 6;
}

.left {
    padding-top: 20px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 6;
}

.aitu {
    padding-left: 170px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 46px;
    text-align: center;
}

.capital {
    padding-top: 50px;
    grid-column-start: 4;
    grid-row-start: 1;
    font-size: 20px;
    display: flex;
    padding-left: 200px
}

.activity {
    padding-left: 200px;
    grid-column-start: 4;
    grid-row-start: 5;
    font-size: 20px;
    margin-top: -10px;
}
