
.calculator {
    background-color: #7d7d7d;
    border: black 1px solid;
    width: 300px;
    margin: auto;
}

.screen {
    width: 60%;
    font-size: 16px;
    height: 46px;
    background-color: #cdcdcd;
    border: black 1px solid;
    padding-right: 20px;
    padding-left: 10px;
    margin: 10px;
    margin-bottom: 0px;
    margin-right: 3px;
}

.operator, .number {
    width: 50px;
    height: 50px;
    background-color: #ececec;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 3px;
}

.operatorc {
    width: 50px;
    height: 50px;
    background-color: #ececec;
    border-radius: 3px;
    font-size: 16px;
}

.calculator-keys {
    padding: 10px;
}