* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
    text-decoration: none;
    color: whitesmoke;
    outline: none;
}

header {
    background-image: url("img/bg1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section1 {
    background-image: url("img/bg2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

.navbar {
    padding: 15px;
    font-size: 18px;
    width: 100%;
    padding-top: 25px;
    position: fixed;
    z-index: 100;
    background-color: #0f041b;
    opacity: 0.8;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0px 5px;
}

.navbar a {
    color: white;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.navbar a:hover {
    color: #e5097f;
}

.registr, .costs {
    text-align: center;
    padding-top: 200px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.registr button {
    font-size: 16px;
    color: white;
    height: 50px;
    background: transparent;
    text-align: center;
    font-stretch: condensed;
    border: 2px white solid;
    border-radius: 4px;
    width: 200px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 10px 3px;
}

.registr button:hover {
    background-color: #e5097f;
    border: #6d0936;
    color: whitesmoke;
    font-size: 20px;
    height: 60px;
    width: 250px;
    box-shadow: 1px 2px 10px 3px #e5097f;
}

.registr button:active {
    background-color: #b40960;
    border: #96094b;
    box-shadow: 1px 2px 10px 3px #96094b;
}

.section2 {
    background-image: url("img/bg4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.section2 h1, .section7 h1 {
    color: white;
    padding-top: 50px;
    padding-left: 20px;
    width: 60%;
    font-size: 35px;
}

.section3 {
    background-image: url("img/bg3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 60px;
}

.section5 {
    background-image: url("img/bg5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 60px;
}

.section6 {
    background-color: #2c0144;
    padding-bottom: 60px;
    padding-top: 60px;
    color: #2a0143;
}

.section7 {
    background-image: url("img/bg6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 60px;
}

.section8 {
    background-color: #31183c;
    min-height: 550px;
    position: relative;
    padding-top: 30px;
    padding-bottom: 50px;
}

.section8 h1 {
    padding-top: 40px;
    text-align: center;
    font-size: 35px;
}

.section9 {
    background-image: url("img/bg7.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}


.halls {
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 50px;
}

.words {
    text-align: center;
    font-size: 24px;
    border-bottom: 2px solid #96094b;
    padding-bottom: 15px;
}

.media, .medias {
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.media:nth-of-type(odd), .medias:nth-of-type(odd), .medias:nth-of-type(even) {
    flex-direction: row;
    text-align: left;
}

.media:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.media img {
    height: 100%;
    width: 100%;
    max-height: 300px;
    max-width: 570px;
    min-width: 438px;
    min-height: 230px;
}

.text {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.text h3 {
    font-weight: bold;
}

.text p {
    font-size: 19px;
}

.service {
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 16px;
    display: -ms-flexbox !important;
    display: flex !important;
}

.service p {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    line-height: 20px;
    font-size: 17px;
}

.sections {
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
}

input[type="text"] {
    display: block;
    box-sizing: border-box;
    padding: 5px;
    width: 300px;
    height: 50px;
    border: none;
    border-bottom: 1px solid white;
    font-weight: 400;
    font-size: 30px;
    background: transparent;
    margin: 50px;
    color: #96094b;
    margin-bottom: 30px;
}

input[type="text"]::placeholder {
    color: whitesmoke;
}

input[type="text"]:hover {
    border-bottom: 3px solid whitesmoke;
    color: #96094b;
}

input[type="submit"] {
    font-size: 20px;
    color: white;
    height: 50px;
    background: #e5097f;
    text-align: center;
    font-stretch: condensed;
    border: 2px #e5097f solid;
    border-radius: 40px;
    width: 150px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 10px 3px #e5097f;
    margin: 50px;
}

input[type="submit"]:hover {
    background-color: #96094b;
    border: #96094b;
    color: whitesmoke;
    box-shadow: 1px 2px 10px 3px #96094b;
}

input[type="submit"]:active {
    background-color: #b40960;
    border: #96094b;
    box-shadow: 1px 2px 10px 3px #96094b;
}

.solutions {
    color: whitesmoke;
    text-align: center;
    font-size: 24px;
    padding-top: 50px;
}

.solutions h4 {
    border-bottom: 2px solid #96094b;
    padding-bottom: 15px;
}

.solution {
    margin-top: 60px;
    display: flex;
    padding: 30px;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
    background-color: #21072e;
    box-shadow: #861a5e 0 0 10px 20px;
}

.solution img {
    height: 100%;
    width: 100%;
    max-height: 355px;
    max-width: 533px;
    min-width: 436px;
    min-height: 290px;
}

.disc {
    color: whitesmoke;
    align-items: center;
    padding-left: 30px;
}

.disc h3 {
    font-weight: bold;
    text-align: center;
}

.disc li {
    font-size: 18px;
    list-style: none;
}

.disc h1 {
    color: #e5097f;
    text-align: center;
}

.disc button {
    font-size: 20px;
    color: white;
    height: 50px;
    background: #e5097f;
    text-align: center;
    font-stretch: condensed;
    border: 2px #e5097f solid;
    border-radius: 40px;
    width: 150px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 10px 3px #e5097f;
    float: right;
}

.disc button:hover {
    background-color: #96094b;
    border: #96094b;
    color: whitesmoke;
    box-shadow: 1px 2px 10px 3px #96094b;
}

.disc button:active {
    background-color: #b40960;
    border: #96094b;
    box-shadow: 1px 2px 10px 3px #96094b;
}

.loc {
    margin-left: 30px;
    color: whitesmoke;
    line-height: 35px;
}

.loc h2 span {
    color: #e5097f;
}

.loc h2:hover {
    color: #96094b;
}

.additional h1 {
    text-align: center;
    border-bottom: 2px solid #e5097f;
    padding-bottom: 15px;
    font-size: 30px;
}

.logo {
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
}

.icons h4:hover {
    color: #e5597f;
}

.adv {
    color: whitesmoke;
    font-size: 24px;
    line-height: 30px;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.adv li {
    padding-left: 30px;
    list-style: none;
}

.confidence {
    color: whitesmoke;
    font-size: 24px;
    text-align: right;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.contain {
    float: right;
}

.confidence h3 span {
    color: #cc096b;
}

.services {
    justify-content: center;
    text-align: center;
    font-size: 16px;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-top: 30px;
}

.services p {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    line-height: 20px;
    font-size: 17px;
}


.div1 {
    background-image: url("img/div2.png");
    margin-top: 60px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}

.div2 {
    background-image: url("img/div1.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    text-align: right
}

.div3 {
    background-image: url("img/div3.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}

.div4 {
    background-image: url("img/div4.png");
    text-align: right;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}

.div5 {
    background-image: url("img/div5.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}

.ris1 {
    background-image: url("img/ris1.png");
    margin-top: 60px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}

.ris2 {
    background-image: url("img/ris2.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    text-align: right
}

.ris3 {
    background-image: url("img/ris3.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}

.ris4 {
    background-image: url("img/ris4.png");
    text-align: right;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}

.ris5 {
    background-image: url("img/ris5.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}

.word {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 50%;
}

.additional h1 {
    text-align: center;
    font-size: 35px;
}

.word h2 span {
    font-size: 40px;
    color: #e5097f;
}

.word p {
    font-size: 20px;
}

.reverse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}

.empty {
    background: transparent;
    width: 50%;
}

.maindiv {
    min-height: 550px;
    position: relative;
    margin-top: 50px;
}

.leftdiv {
    height: 100%;
    width: 100%;
    z-index: 0;
    max-height: 418px;
    max-width: 620px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/hall4.jpg);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 20px 7px 55px 11px #96094b;
}

.rightdiv {
    margin-top: 100px;
    height: 100%;
    width: 100%;
    z-index: 1;
    max-height: 418px;
    max-width: 620px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(img/img1.png);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 10px 20px 35px 15px #96094b;
}

.leftdiv:hover, .leftdiv h1:hover {
    z-index: 2;
    animation-name: opasity;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    color: #e9ecef;
}

.rightdiv:hover, .rightdiv h1:hover {
    z-index: 3;
    animation-name: opasity;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    color: #e9ecef;
}

@keyframes opasity {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.leftdiv h1, .rightdiv h1 {
    color: #cc096b;
    font-size: 60px;
    padding-top: 350px;
    font-family: "Monotype Corsiva", serif;
}

.costs span img {
    height: 100%;
    width: 100%;
    max-height: 271px;
    max-width: 758px;
    min-width: 305px;
    min-height: 180px;
}

.costs h3 span, .costs h4 span {
    color: #e5097f;
    text-shadow: 5px 5px 10px #96094b;
}

.dop {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.menu h1 {
    font-size: 40px;
    border-bottom: 3px solid #e5097f;
}

.menu tr {
    font-size: 20px;
    line-height: 25px;
}

.mainword {
    background-color: honeydew;
    font-stretch: ultra-condensed;
    font-family: "Monotype Corsiva";
    text-align: center;
    color: black;
    padding: 10px;
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 20px;
}

.margins {
    padding: 50px;
}

.color {
    color: #e5097f;
}

.tea1 {
    margin: 5px  3px 3px 3px;
}

.tea2 {
    margin: 200px  3px 3px 3px;
}

.coffee {
    margin: 50px  3px 3px 3px;
}

.drinks {
    margin: 50px 100px 50px 100px;
}

.texting {
    width: 80%;
    font-size: 20px;
    text-align: left;
    padding: 20px 20px;
}

.texting li {
    list-style: none;
}

.centers {
    margin-left: 125px;
}

.accordion {
    background-color: #e5097f;
    color: #f6f6f6;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #e5097f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    margin-top: 5px;
    margin-bottom: 5px;
}

.accordion:hover {
    background-color: #861a5e;
    border: 1px solid #861a5e;
}

.panel {
    padding: 0 30px;
    background-color: #cc096b;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 5px 5px;
}

footer {
    color: whitesmoke;
    background-color: #130112;
    display: flex;
}

.footer-content {
    background-color: #130112;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 90%;
}

.footer-content h1 {
    text-align: center;
}

.footer-bottom {
    background: #130222;
    height: 40px;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    padding-top: 15px;
    position: relative;
    color: white;
    font-family: Arial, serif;
    font-size: 12px;
}

.logoo {
    margin: 30px;
    padding-top: 60px;
}

.footer-section1, .footer-section4, .footer-section3 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 30px;
}

.footer-section4 input[type="text"] {
    display: block;
    box-sizing: border-box;
    padding: 5px;
    width: 150px;
    height: 30px;
    border: none;
    border-bottom: 1px solid white;
    font-weight: 400;
    font-size: 20px;
    background: transparent;
    margin-top: 50px;
    color: #96094b;
    margin-bottom: 20px;
}

.footer-section4 input[type="text"]::placeholder {
    color: whitesmoke;
}

.footer-section4 input[type="text"]:hover {
    border-bottom: 3px solid whitesmoke;
    color: #96094b;
}

.footer-section4 input[type="submit"] {
    font-size: 16px;
    color: white;
    height: 40px;
    background: #e5097f;
    text-align: center;
    border: 2px #e5097f solid;
    border-radius: 40px;
    width: 100px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 10px 3px #e5097f;
    margin-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-section4 input[type="submit"]:hover {
    background-color: #96094b;
    border: #96094b;
    color: whitesmoke;
    box-shadow: 1px 2px 10px 3px #96094b;
}
