body {
    outline: none;
    background-image: url("img/bg7.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reserve-form {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.box {
    min-width: 450px;
    min-height: 600px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #96094b;
    padding: 40px;
}

.box h5 {
    color: #e5097f;
    text-align: center;
    font-size: 22px;
    margin: 15px 0px 20px;
    border-bottom: 1px solid;
    padding-bottom: 3px;
    font-family: "Times New Roman";
    font-weight: bold;
}

.regform {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs {
    font-family: "Times New Roman";
    font-size: 18px;
    color: #96094b;
}

input {
    -webkit-appearance: none;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 2px solid #96094b;
    outline: none;
}

input:checked {
    border: 6px solid #96094b;
}

.hall {
    width: 250px;
    height: 140px;
    background-color: #ffb2b2;
    margin-left: 65px;
}

#first:checked ~ .hall {
    background-image: url("img/hall1.jpg");
    background-size: cover;
}

#second:checked ~ .hall {
    background-image: url("img/hall4.jpg");
    background-size: cover;
}

#third:checked ~ .hall {
    background-image: url("img/hall3.jpg");
    background-size: cover;
}

#fourth:checked ~ .hall {
    background-image: url("img/hall2.jpg");
    background-size: cover;
}

.button-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

button {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 8px 35px;
    background-color: #e5097f;
    border: none;
}

button:hover {
    background-color: #96094b;
    box-shadow: 0px 0px 10px #96094b;
}

button:focus {
    background-color: #e5597f;
}

button:active {
    background-color: #96094b;
}

.regform textarea {
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-indent: 10px;
}

.regform label {
    font-family: Arial;
    color: #e5097f;
    font-size: 16px;
}

.regform select {
    color: #e5597f;
    border-radius: 5px;
}