.styleText {
    width: 100%;
    color: white;
    margin: 100px 225px 100px 250px;
}
.styleText1 {
    background-color: #009900;
    width: 280px;
    height: 430px;
    float: left;
    padding: 10px;
    border: solid 3px black;
    border-right: solid 6px black;
    border-bottom: none;
}
.styleText2 {
    background-color: #808080;
    width: 280px;
    height: 430px;
    float: left;
    padding: 10px;
    border: solid 3px black;
    border-left: none;
    border-right: solid 6px black;
    border-bottom: none;
}
.styleText3 {
    background-color: #009900;
    width: 280px;
    height: 430px;
    float: left;
    padding: 10px;
    border: solid 3px black;
    border-left: none;
    border-bottom: none;
}