* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

header {
    width: 100%;
    height: 10%;
    background-color: #ff4040;
    color: white;
    float: top;
    padding-bottom: 12px;
    padding-top: 3px;
    text-align: center;
}

nav {
    width: 16%;
    height: 480px;
    background-color: #c0c0c0;
    color: white;
    float: left;
    padding: 5px;
    padding-top: 2px;
    padding-left: 15px;
}

article {
    width: 70%;
    height: 465px;
    background-color: #ffffff;
    float: left;
    padding: 10px;
    padding-left: 30px;

}

section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    width: 100%;
    height: 2%;
    background-color: #ffb2b2;
    clear: both;
    text-align: center;
    padding: 2px;
    float: bottom;
}

.word {
    color: white;
}