.header {
    font-family: "Times New Roman";
    font-size: 14px;
    width: 35%;
    margin: auto;
    margin-top: 100px;
    line-height: 28px;
}

fieldset {
    border: groove 5px;
}

.span {
    line-height: 14px;
}

.spans {
    line-height: 14px;
    padding-top: 25%;
}

.button {
    float: bottom;
    padding-left: 20%;
    padding-top: 58%;
}

@media (min-width: 992px) {
    .col-md-5, .col-md-6 {
        float: left;
    }

    .col-md-6 {
        width: 20%;
    }

    .col-md-5 {
        width: 80%;
    }
