.calculate {
    font-family: "Times New Roman";
    text-align: center;
    font-size: 14px;
}

h2 {
    text-align: center;
}

input[type="button"] {
    background-color: #29aae3;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    font-size: 100%;
}

input[type="number"] {
    border: 1px solid #BFD8E3;
    padding: 5px;
    border-radius: 5px;
    font-size: 100%;
    width: 15%;
    height: 20px;
}
