p
{
    font-size: 36px;
}
span
{
    color: red;
}
#d-block
{
    background-color: aqua;
    display: block;
    width: 50%;
}
#d-inline
{
    background-color: aqua;
    display: inline;
    width: 50%;
}
#d-inline-block
{
    background-color: aqua;
    display: inline-block;
    width: 50%;
}
