.big {
    color: lemonchiffon;
    font-family: "Calisto MT";
    position: absolute;
    top: 0px;
    font-size: 85px;
    margin-left: 500px;
    margin-top: 50px;
    line-height: 10px;
    letter-spacing: 6px;
}

.big1 {
    color: lemonchiffon;
    font-family: "Calisto MT";
    position: absolute;
    top: 0px;
    font-size: 85px;
    margin-left: 480px;
    margin-top: 120px;
    line-height: 10px;
    letter-spacing: 4px;
}

.biggest {
    color: #61c5bb;
    font-family: "Calisto MT";
    position: absolute;
    top: 0px;
    font-size: 30px;
    margin-left: 608px;
    margin-top: 185px;
    line-height: 30px;
}

.biggest1 {
    color: #61c5bb;
    font-family: "Calisto MT";
    position: absolute;
    top: 0px;
    font-size: 30px;
    margin-left: 610px;
    margin-top: 215px;
    line-height: 30px;
    letter-spacing: 2px;

}

.number {
    color: #061e36;
    font-family: "Calisto MT";
    position: absolute;
    top: 0px;
    font-size: 30px;
    margin-left: 660px;
    margin-top: 550px;
}

.bigger {
    color: #61c5bb;
    font-family: "Calisto MT";
    position: absolute;
    top: 0px;
    font-size: 34px;
    margin-left: 530px;
    margin-top: 585px;
    letter-spacing: 3px;
}

.small {
    color: #61c5bb;
    font-family: "Calisto MT";
    position: absolute;
    top: 0px;
    font-size: 20px;
    margin-left: 478px;
    margin-top: 168px;
    line-height: 10px;
}

.circle {
    color: #61c5bb;
    border-radius: 18px;
    border: 18px solid #61c5bb;
    position: absolute;
    top: 0px;
    font-size: 5px;
    margin-left: 650px;
    margin-top: 548px;
}

#image {
    text-align: center;
    width: 100%;
}

#contents {
    width: 100%;
}

#contents h2 {
    font-size: 30px;
    margin-left: 600px;
}

#contents p {
margin-left: 100px;
}

.table1 {
    margin-left: 350px;
    font-size: 14px;
    line-height: 25px;
}

.table2 {
    margin-left: 335px;
    font-size: 14px;
}

#text {
    width: 100%;
    margin-top: 5px;
}

.text1 {
    float: left;
    width: 40%;
    height: 100%;
    margin-top: 5px;
    padding-left: 80px;
    padding-right: 5px;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: justify;
    font-size: 18px;
}

.text2 {
    float: right;
    width: 40%;
    height: 100%;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 80px;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: justify;
    font-size: 18px;
}

span {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: black;
}

.right {
    text-align: right;
}

.next {
margin-left: 500px;
}

.back {
    margin-right: 100px;
}
